# Playbook to shutdown or restart Windows 11 systems
- name: Shutdown or reboot Windows hosts with optional message
  hosts: "{{ target_host | default('all') }}"
  gather_facts: no
  
  vars:
    system_action: "s"             # s=shutdown" or "r=reboot"
    action_time: 0                 # seconds until action (0 = immediate)
    action_message: ""             # Optional message
    execute_action: true           # Set true to run the command

  tasks:  
    - name: Shutdown systems in given time
      ansible.windows.win_command:
        cmd: shutdown -{{ system_action }} -t {{ action_time }}
      when: execute_action

# Running playbook with target_host variable 
# ansible-playbook -i inventory/lab2-windows-inventory.yml playbook/windows/5-shutdown-all-systems.yml -e "target_host=pl1-22,pl1-29"
